	<div class ="container" ng-controller="apiAddController">

		<h1> add message </h1>

			<form ng-submit="addMessage()">

			 <div class="form-group">
			    <label for="exampleInputEmail1">Message title</label>
			    <input type="text" class="form-control" id="message-title" ng-model= "newMessage.messageTitle" placeholder="message title">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Message Body </label>
			    <input type="text" class="form-control" id="message-body" ng-model= "newMessage.messageBody" name = "messageBody"placeholder="message title">
			  </div>
			
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
	</div>