
<div class ="container" ng-controller="apiListController ">

<a href="/#/api/addMessage" class="btn btn-primary"> add message </a>
<br><br>
			<ul class="list-group">
				<li ng-repeat ="msg in messages" class="list-group-item" ng-model="messages">
					
					<h3>
						<a href="/#/api/messages/{{msg.messageId}}">{{msg.messageTitle}}</a>
						<span ng-click="deleteMessage(msg.messageId)"
							class="glyphicon glyphicon-remove" style="float: right">
					</span>
					</h3>
					<hr>
					<p>{{msg.messageBody}}</p>
					

					
				</li>
			</ul>
</div>