<div  class="container " ng-controller= "apiDetailController">
  <ul class="list-group">
  <li class="list-group-item">
		<h3>
		{{message.messageTitle}}
		</h3>
		<hr>
		
		<p>{{message.messageBody}}</p>

</li>
</ul>
</div>