<div class ="container" ng-controller="apiUpdateController">

		<h1 class="alert alert-info"> update message </h1>

			<form ng-submit="updateMessage()">

			 <div class="form-group">
			    <label for="exampleInputEmail1">Message title</label>
			    <input type="text" class="form-control" id="message-title" ng-model= "message.messageTitle" placeholder="message title">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Message Body </label>
			    <textarea class="form-control" id="message-body" ng-model= "message.messageBody" 
			    		   name = "messageBody"placeholder="message title">
			    		   </textarea>
			  </div>
			  <button type="submit" class="alert alert-info">update</button>
			</form>
	</div>